.casestudy {
    width: 100%;
    height: 100vh;
    Background-color: #ea5600;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.cs-type {
    padding-top: 100px;
    padding-bottom: 60px;
}

.cs-type h2 {
    font-family: 'Gotham Black', sans-serif;
    font-size: 60px;
    color: black;
    text-align: center;
}

.slide-container {
    max-width: 1200px;
    width: 100%;
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    background-color: #FFF;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: black;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}

.card-image {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #FF6E1A;
}

.name {
    font-family: 'Gotham Black', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #333;
    margin: 15px 0;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 5px;
}

.button {
    border: none;
    padding: 8px 16px;
    background-color: #FF6E1A;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button a {
    font-size: 16px;
    color: #fff;
}

.button:hover {
    background: #ea5600;
}

.swiper-navBtn {
    color: black;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #34323F;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
    font-weight: bold;
}

.swiper-button-next {
    right: -4px;
}

.swiper-button-prev {
    left: -4px;
}

.swiper-pagination-bullet {
    background-color: #34323F;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: black;
}